{% extends "../base.html" %}

{% block title %}
    Add Produt
{% endblock title %}

{% block body %}

    {% comment "Form to add product" %}{% endcomment %}
    <div class="form-group mx-3">
        <h3 class="text-xl font-bold text-green-700 mt-2">Add New Product</h3>
        <hr class="mt-1"/>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="w-full mt-2">
                <tr>
                    <td><label for="product_name" class="text-md text-gray-500">Product Name</label></td>
                    <td><input type='text' name="product_name" placeholder="Enter Product Name...." 
                    class="placeholder:text-gray-500 placeholder:italic bg-green-100 px-2 py-1 w-3/4 focus:outline-none" required/></td>
                </tr>
                <tr>
                    <td><label for="product_desc" class="text-md text-gray-500 mt-2">Product Description</label></td>
                    <td><textarea name="product_desc" rows="4" cols="50" placeholder="Enter Product Description" 
                    class="placeholder:text-gray-500 placeholder:italic mt-2 bg-green-100 px-2 py-1 w-3/4 focus:outline-none" required></textarea></td>
                </tr>
                <tr>
                    <td><label for="product_measure_unit" class="text-md text-gray-500 mt-2">Product Measure Unit</label></td>
                    <td>
                        <select name="product_measure_unit" class="mt-2 bg-green-100 px-2 py-1 w-3/4 focus:outline-none">
                            <option value="kgs">Kilograms</option>
                            <option value="ltrs">Liters</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="product_category" class="text-md text-gray-500 mt-2">Product Category</label></td>
                    <td>
                        <select name="product_category" class="mt-2 bg-green-100 px-2 py-1 w-3/4 focus:outline-none">
                            <option value="vegetables">Vegetables</option>
                            <option value="fruits">Fruits</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label for="product_quantity" class="text-md text-gray-500 mt-2">Product Quantity</label></td>
                    <td><input type='number' name="product_quantity" min="0" placeholder="Enter Product Quantity...." 
                    class="placeholder:text-gray-500 placeholder:italic mt-2 bg-green-100 px-2 py-1 w-3/4 focus:outline-none" required/></td>
                </tr>
                <tr>
                    <td><label for="product_price" class="text-md text-gray-500 mt-2">Product Price</label></td>
                    <td><input type='number' name="product_price" min="0" step=".01" pattern="^\d*(\.\d{0,2})?$" placeholder="Enter Product Price...." 
                    class="placeholder:text-gray-500 placeholder:italic mt-2 bg-green-100 px-2 py-1 w-3/4 focus:outline-none" required/></td>
                </tr>
                <tr>
                    <td><label for="images" class="text-md text-gray-500 mt-2">Product Images (Max 5):</label></td>
                    <td><input type="file" name="images" class="mt-2 bg-green-100 px-2 py-1 w-3/4 focus:outline-none" accept=".png,.jpg,.jpeg,.webp" multiple required></td>
                </tr>
                <tr></tr>
                <tr><td><input type='submit' value='Add Product' class="bg-green-700 px-2 py-1 rounded-md text-white mt-2 cursor-pointer"/></td></tr>
            </table>
        </form>
    </div
{% endblock body %}