{% extends "../base.html" %}

{% block title %}
    All Products
{% endblock title %}

{% block body %}

    {% comment "All Products" %}{% endcomment %}
     <div class="flex ml-4 mb-2 m-1 justify-between mx-4 items-center">
        <h3 class="text-green-600 text-2xl">All Products</h3>
        <a href="/farmer/add-product"><img src="https://img.icons8.com/?size=100&id=84991&format=png&color=40C057" class="w-8 h-8 cursor-pointer"/></a>
     </div>
     <hr/>
     {% if products %}
        <div class="m-4 grid grid-flow-row grid-cols-3 gap-4">
            {% for product in products %}
                    {% include 'farmer/product-card.html' with product=product %}
            {% endfor %}
        <div>
    {% else %}
    <div class="text-md text-gray-400 flex flex-col justify-center p-5 items-center">
        <img src="https://img.icons8.com/?size=100&id=IPIaOxVmV6J1&format=png&color=40C057" class="w-[120px] mb-4">
        <p>Want to add a new product? <a href="/farmer/add-product" class="text-blue-700 underline">Add Product</a></p>
    </div>
    {% endif %}
{% endblock body %}