{% extends "../base.html" %}
{% load static %}

{% block title %}
    SignIn Page
{% endblock title %}

{% block body %}
    <div>
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}
        <div class="w-fill flex justify-center">
            <div class="w-2/3 h-full">
                <img class="h-full w-full" src="{% static 'farmify/images/signin-pic.webp' %}" alt="SignIn Side Image"/>
            </div>
            <div class="w-1/3 flex justify-center m-auto">
                <div class="w-full">
                    <h2 class="text-xl text-gray-700">Welcome to Farmify</h2>
                    <h2 class="text-xl text-gray-500 mb-5">Sign in to your account</h2>
                    
                    <form method="post">
                        {% csrf_token %}
                        <input type='text' name="phone_number" placeholder="Enter Phone Nuber...." class="mb-4 ring-1 rounded-md shadow-xl ring-black/5 w-3/4 py-1 px-3" required/><br/>
                        <input type='password' name="password" placeholder="Enter Password...." class="mb-4 ring-1  rounded-md shadow-xl ring-black/5  w-3/4 py-1 px-3" required/><br/>
                        <input type='submit' value='Sign In' class="px-6 py-1 rounded-md font-semibold text-white 
                        bg-gradient-to-r from-teal-400 to-green-500 ring-1 shadow-xl cursor-pointer"/>
                    </form>
                <div>
            </div>
        </div>
    </div>
{% endblock body %}
