{% extends "../base.html" %}
{% load static %}
{% block title %}SignUp Page{% endblock title %}


{% block body %}
    <div>
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </li>
        {% endfor %}

        <div class="w-fill flex justify-center">
            <div class="w-2/3 h-full">
                <img class="h-full w-full" src="{% static 'farmify/images/signin-pic.webp' %}" alt="SignUp Side Image"/>
            </div>
            <div class="w-1/3 flex justify-end m-auto">
                <div class="w-4/5">
                    <h2 class="text-xl text-gray-700">Welcome to Farmify</h2>
                    <h2 class="text-xl text-gray-500 mb-5">Create a new account</h2>
                    
                    <form method="post">
                        {% csrf_token %}
                        <input type='text' name="phone_number" placeholder="Enter Phone Number...." class="placeholder:text-gray-500 placeholder:italic mb-4 ring-1 rounded-md shadow-xl ring-black/5 w-3/4 py-1 px-3" required/><br/>
                        <input type='text' name="first_name" placeholder="Enter First Name...." class="placeholder:text-gray-500 placeholder:italic mb-4 ring-1 rounded-md shadow-xl ring-black/5 w-3/4 py-1 px-3" required/><br/>
                        <input type='text' name="last_name" placeholder="Enter Last Name...." class="placeholder:text-gray-500 placeholder:italic mb-4 ring-1 rounded-md shadow-xl ring-black/5 w-3/4 py-1 px-3" required/><br/>
                        <select name="role" class="placeholder:text-gray-500 placeholder:italic mb-4 ring-1 rounded-md shadow-xl ring-black/5 w-3/4 py-1 px-3 appearance-none">
                            <option value="customer">Customer</option>
                            <option value="farmer">Farmer</option>
                        </select><br/>
                        <input type='password' name="password" placeholder="Enter Password...." class="placeholder:text-gray-500 placeholder:italic mb-4 ring-1  rounded-md shadow-xl ring-black/5  w-3/4 py-1 px-3" required/><br/>
                        <input type='submit' value='Sign Up' class="px-6 py-1 rounded-md font-semibold text-white 
                        bg-gradient-to-r from-teal-400 to-green-500 ring-1 shadow-xl cursor-pointer"/>
                    </form>
                    <small class="text-gray-500">Already have an account ? <a href="/auth/signin" class="text-blue-900 underline">Login</a></small>
                <div>
            </div>
        </div>
    </div>
{% endblock body %}
